*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body,html{
    width: 100%;
    height: 100%
}
/* 主题色定义 css变量 */
#root{
    --date_color: #fff;
    --set_btn_color: #000;
    --set_btn_bg: rgba(255, 255, 255, 1);
    --chp_bg: transparent;
    --chp_color: #fff;
    --menu-bg: rgba(255, 255, 255, .9)
}
#root{
    width: 100%;
    height: 100%;
    background: url('../img/background/base_bg.jpeg');
    overflow: hidden;
    position: relative;
}


#root .info {
    position: absolute;
    top: 10px;
    left: 10px
}
#root .weather{
    position: absolute;
    top: 10px;
    right: 10px
}
#root .info .date,#root .weather {
    color: var(--date_color);
    font-size: 14px;
    text-align: center;
}
#search {
    border-radius: 20px;
    border: 1px solid #eee;
    outline: none;
    width: 40%;
    height: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
    opacity: 0.6;
    font-size: 16px;
    -webkit-user-select: text
}
#search:focus{
    border: 1px solid darkcyan;
    outline: none;
    opacity: 0.9;
}
#chp {
    width: 100%;
    text-align: center;
    height: 20px;
    position: absolute;
    top: 39%;
    color: var(--chp_color);
}
#history_container {
    position: absolute;
    width: 35%;
    height: 300px;
    top: 61%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: var(--date_color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#history_container .history_item {
    width: 120px;
    height: 100px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}
#history_container .history_item:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
#history_container .history_item a{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--date_color);
}
#history_container .history_item a img {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}
#history_container .history_item .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    width: 170px;
    height: 100%;
    position: absolute;
    right: -170px;
    top: 0;
    background-color: var(--menu-bg);
    z-index: 1;
}

#menu.showmenu {
    animation: showMenu 1s;
    right: 0;
}

#menu.hidemenu {
    animation: hideMenu 1s;
}

#set_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 100%;
    letter-spacing: 10;
    bottom: 30px;
    right: 30px;
    color: var(--set_btn_color);
    background-color: var(--set_btn_bg);
    border-radius: 50%;
    user-select: none;
    z-index: 10;
}
#set_btn:hover{
    opacity: 0.6;
}
footer {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.3;
    position: fixed;
    bottom: 0;
    text-align: center;
}

@keyframes showMenu {
    0% {
        right: -170px;
    }
    100% {
        right: 0
    }
}

@keyframes hideMenu {
    0% {
        right: 0;
    }
    100% {
        right: -170px
    }
}