*{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%
}

#root{
    width: 100%;
    height: 100%;
    background: url('../img/background/base_bg.jpeg');
}

#search {
    border-radius: 20px;
    border: 1px solid #eee;
    outline: none;
    width: 40%;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
    font-size: 16px;
}
#search:focus{
    border: 1px solid darkcyan;
}

footer {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.3;
    position: fixed;
    bottom: 0;
    text-align: center;
}